/* CSS declarations go here */


/*** ADMIN ***/

.AdminEditRoom {
  padding: 1rem;
}

/*** CLIENT ***/

/*** Room ***/

.roomColumns {
  display:flex;
  flex-direction:row;
}

.roomColumn {
  flex: 1;
}

.roomColumn:nth-child(2) {
  background-color: #eee;
}

