uberspace_username="risiko"
uberspace_host="risiko.hamal.uberspace.de"
uberspace_servicename="risikoscores"
uberspace_server_dir="meteor-server/risikoscores"
uberspace_mongo_port="21550"
uberspace_mongo_db="risikoscores_production"
uberspace_mongo_user="risikoscores_production"
uberspace_node_version="8"
