
/***************************************************************
 * Obsolete. Style definitions should be inside of components  *
 * using styled-components.                                    *
 * global styles are in imports/startup/client/globalStyles    *
 * *************************************************************/

/*** ADMIN ***/

.AdminWrapper {
  padding: 1rem;
}

.AdminWrapper h1,
.AdminWrapper h2,
.AdminWrapper h3,
.AdminWrapper h4,
.AdminWrapper p {
  margin-bottom: 1rem;
}

.AdminWrapper br {
  line-height: 1.25rem;
}

.AdminWrapper .small {
  color: #aaa;
}

.AdminWrapper .DeleteButton {
  float:right;
  transform: translateY(-100%);
}

/*** CLIENT ***/

/*** Room ***/

.Room {
}

.MainColumn {
}

.MainImages {
}

.MainContent {
}

.TabColumn {
}

.TabBar {
}

.Tab {
}

.SelectedTab {
}

.TabContent {
}

.RightColumn {
}

.GlossarArea {
}

.GraphArea {
}

.QuestionsArea {
}

.MenuIcon {
}

/* start*/

.Start {
}

.StartLeft {
}

.StartRight {
}

.Stream {
}

.StreamWelcome {
}

.StreamWelcomeHeader {
}

.StreamWelcomeContent {
}

.StreamWelcomeToggle {
}

.StreamPost {
}

/* Special Components*/
.SCLink {
}

.SCExternalLink {
}

.SCGlossarLink {
}
